body {
    font-style: normal;
    background: -webkit-repeating-linear-gradient(-8.130102354155966deg, rgba(239, 239, 237, 1) 0, rgba(239, 239, 237, 1) -106%, rgba(255, 255, 255, 1) 100%);

}


h1 {
    text-align: center;
}

h2 {
    text-align: justify;
}

h4 {
    font-size: 40px;
    /*font-style: italic;*/
    align-self: center;
    alignment: center;
    text-align: right;
}

.question_table {
    font-size: 15px;
    alignment: center;
    border: 2px solid #ddd;
    float: top;
    width: 60%;
    align-items: center;
    text-align: center;

}

.answer_table {
    font-size: 15px;
    alignment: center;
    border: 2px solid #ddd;
    float: top;
    width: 60%;
    align-items: center;
}

#question_message {
    font-size: 20px;
    font-weight: bold;
}

#answer_message {
    font-size: 20px;
    font-weight: bold;
}


#comment_info {
    font-style: italic;
    font-size: 14px;
}

#comment {
    font-style: italic;
    font-size: 20px;
}

#logo {
    border: none;
}

.vote_question {
    width: 7%;
    height: auto;
}

.vote {
    width: 2%;
    height: auto;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#show_hide {
    position: center;
    margin: 30px 5px;
}

#show_answers {
    position: center;
    margin: 30px 5px;
}

#hide_question_comments {
    position: center;
    margin: 30px 5px;
    alignment: right;

}

button, #button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    padding: 2px;
    border: 2px double;
    border-color: #dddddd;
    -webkit-border-radius: 68px;
    border-radius: 68px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-repeating-linear-gradient(-8.130102354155966deg, rgba(84, 84, 81, 1) 0, rgba(239, 239, 237, 1) 1%, rgba(204, 204, 204, 1) 13%, rgba(91, 91, 90, 1) 100%);
    background: -moz-repeating-linear-gradient(98.13010235415597deg, rgba(84, 84, 81, 1) 0, rgba(239, 239, 237, 1) 1%, rgba(204, 204, 204, 1) 13%, rgba(91, 91, 90, 1) 100%);
    background: repeating-linear-gradient(98.13010235415597deg, rgba(84, 84, 81, 1) 0, rgba(239, 239, 237, 1) 1%, rgba(204, 204, 204, 1) 13%, rgba(91, 91, 90, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(4.583662361046586deg) rotateY(-3.437746770784939deg);
    transform: rotateX(4.583662361046586deg) rotateY(-3.437746770784939deg);
}

#head_Columns {
    background-color: #dddddd;
}


input[type="text"]:focus:hover {
    outline: none;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid #000000;
    border-radius: 0;

}

textarea {
    outline: none;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid #000000;
    border-radius: 0;
}