body {
    font-style: normal;
}


h1 {
    text-align: center;
}

h2 {
    text-align: justify;
}

h4 {
    font-size: 40px;
    /*font-style: italic;*/
    align-self: center;
    alignment: center;
    text-align: right;
}

.question_table {
    font-size: 15px;
    alignment: center;
    /*border: 2px solid #ddd;*/
    /*display: inline-block;*/
    float: right;
    border-collapse: collapse;
    width: 30%;
    align-items: center;
    border-width: initial;
    /*visibility: collapse;*/
}

#answer_message {
    font-size: 20px;
    font-weight: bold;
}

.add_answer {

}

.answer_table {
    border: 2px #ddd;
    border-right: None;
    width: 65%;

}


#comment_info {
    font-style: italic;
    font-size: 14px;
}

#comment {
    font-style: italic;
    font-size: 20px;
}

#logo {
    border: none;
}

.vote_question {
    width: 15%;
    height: auto;
}

.vote {
    width: 1%;
    height: auto;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/*.tblcls {*/
/*    border-collapse: collapse;*/
/*    border: 2px solid #006655;*/
/*}*/

/*.tblcls th {*/
/*    border: 1px dashed black;*/
/*    color: #fff;*/
/*    background: #006655;*/
/*}*/

/*.tblcls td {*/
/*    padding: 10px;*/
/*    border: 1px dotted black;*/
/*    color: #000;*/
/*    background: #84FFEA;*/
/*}*/

#show_hide {
    position: center;
    margin: 30px 5px;
}

#show_answers {
    position: center;
    margin: 30px 5px;
}

#hide_question_comments {
    position: center;
    margin: 30px 5px;
    alignment: right;

}