table {
  border-collapse: collapse;
  border: 9px solid #ddd;
  text-align: center;
  width: 70%;
  align-items: center;
}

th, td {
  padding: 1px;
  text-align: center;

}

tr:hover {background-color:#f5f5f5;}

#question_title{
  background-color: #dddddd;
}

#head_Columns{
  background-color: #dddddd;
}

#search {
  margin : 20%
  }