<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Comment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body bgcolor="#f0ffff">
<h1>{{ page_title }}</h1>

<form action="{{ form_url }}"
      method="post">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="answer_id" value={{ edit_comment.answer_id if edit_comment.answer_id else comment[0].id }}>
    <input type="hidden" name="submission_time" value={{ edit_comment.submission_time if edit_comment.submission_time else comment[0].submission_time }}>
    <p>
        <label for="message">Your comment:</label><br>
            <textarea name="message" id="message" cols="80" rows="8" required>{{ edit_comment.message if edit_comment.message else None }}</textarea>
    </p>
    <input type="hidden" name="edited_count" value={{ edit_comment.edited_count if edit_comment.edited_count else 0 }}>
    {% if edit_comment.id %}
        <a href="/comment/{{ edit_comment.id }}/edit">
        <h3 align="left">
            <button type="submit">{{ button_title }}</button>
        </h3>
        </a>
    {% elif comment[0].id %}
        <a href="/answer/{{ comment[0].id }}/new-comment">
        <h3 align="left">
            <button type="submit">{{ button_title }}</button>
        </h3>
        </a>
    {% endif %}


</form>
</body>
</html>