<button id="show_answers" xmlns="http://www.w3.org/1999/html">Show/Hide Answers</button>
{% for answer in answer_row %}
    <table id=answers class="answer_table">
        <tr>
            <th id="head_Columns">ID</th>
            <th id="head_Columns">Time</th>
            <th id="head_Columns">Vote</th>
            <th id="head_Columns">Message</th>
            <th id="head_Columns">Image</th>
            <th id="head_Columns">Author:</th>
            <th id="head_Columns">{{ answer.username }}</th>
        </tr>
        <tr align="center">
            <td>{{ answer.id }}</td>
            <td>{{ answer.submission_time }}</td>
            <td>{{ answer.vote_number }}</td>
            <td id="answer_message">{{ answer.message }}</td>
            <td><img src="{{ answer.image }}" alt="Image" width="150" height="150"></td>
            <td>
                <p>
                    <label for="vote-up"></label>

                    <a type="button" onclick="window.location='/answer/{{ answer.id }}/vote-up'"><img
                            class="vote" border="0" alt="up"
                            src="/static/photos/vote_up.png"></a></p>
                <p>
                    <label for="vote-down"></label>
                    <a type="button" onclick="window.location='/answer/{{ answer.id }}/vote-down'"><img
                            class="vote" border="0" alt="down"
                            src="/static/photos/vote_down.png"></a></p>
            </td>
            <td>
                <p>
                    <a href="/answer/{{ answer.id }}/new-comment">
                        <button type="submit">Add Comment</button>
                    </a>
                </p>
                {% if answer.userid == user %}
                    <p><a href='/answer/{{ answer.id }}/delete' method="post"
                          onclick="return confirm('Are you sure you want to Remove?');">
                        <button type="submit">Delete Answer</button>
                    </a></p>
                    <p><input type="button" onclick="window.location='/answer/{{ answer.id }}/edit'" id="button"
                              value="Edit Answer"></p>

                {% endif %}
            </td>
            <td>
                <p>
                    <button class="show_answer_comments">Show/Hide ,A' Comment</button>
                </p>
                {% if answer.answer_status == true %}
                    <label for="answer_status"></label>
                    <a href="/deny-answer/{{ answer.id }}">
                    <img class="answer_status" alt="accepted" src="/static/photos/spider_appr.png">
                    </a>
                {% else %}
                    <p>
{#                    <label for="answer_status"></label>#}
{#                    <a href="/accept-answer/{{ answer.id }}">#}
{#                        <img id="answer_status" alt="accepted" src="/static/photos/notapproved.png">#}
{#                    </a>#}
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <table class="answer_comments">
        {% for comment in answer_comments %}
            <tr>
                {% if comment.answer_id == answer.id %}
                    <td id="comment">{{ comment.message }}</td>
                    <p>
                    <td id="comment_info">by: {{ comment.username }} on: {{ comment.submission_time }}
                    </td>
                    <td>
                        {% if comment.userid == user %}
                            <p><input type="button" onclick="window.location='/answer-comment/{{ comment.id }}/edit'"
                                      value="Edit A Comment" id="button"></p>
                            <p><input type="button" name="delete" value="Delete A Comment" id="button"
                                      onClick="confirmDelete('/answer-comment/{{ comment.id }}/delete')"></p>
                            </td>
                        {% endif %}
                    {% if comment.edited_count %}
                        <td id="comment_info">Edited: {{ comment.edited_count }} time(s). Last edit was
                            at: {{ time }}</td>
                        <br>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}
<br>