<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %} | T i d d e r</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/jquery.js"></script>

</head>

<body class="background">
<div class="main_header">


    <a href="/">
        <img border="0" alt="teddir" src="/static/on_off_logo.png" width="80 " height="50">
    </a>
    <a href="/"><h3>T i d d e R</h3></a>
    {% if username %}
        <a href="/logout"><h3>Logout</h3></a>
        <a  href="/user/{{ user }}"><h3>User Page</h3></a>
        <a  href="/list-users"><h3>User List</h3></a>
    {% else %}
        <a  href="/login"><h3>Login</h3></a>
        <a  href="/registration"><h3>Register</h3></a>

    {% endif %}
    <a>
        <div class="{{ "session" if username }} {{ "no_session" if not username }}"
             id="session">
            {% if username %}
                <h4>You're logged in as {{ username }} .</h4>
            {% else %}
                <h4>You're not logged in. </h4>
            {% endif %}
        </div>
    </a>
    <form action='/search' method="GET">

        <input type="text" placeholder="Search" class="input" name="search_phrase">
        <div class="btn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>


    </form>
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>