<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T i d d er</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body bgcolor="#f0ffff">
<p align="left"><a  href="https://www.teddir.com">
        <img  border="0" alt="teddir" src="static/on_off_logo.png" width="150" height="80">
    </a></p>
<h1 align="left">T i d d e R</h1>
<table align="center">
    <tr>
        <th><a href="/id">Id</th>
        <th><a href="/submission_time">Submission time</a></th>
        <th><a href="/view_number"> View number</a></th>
        <th><a href="/vote_number"> Vote number</a></th>
        <th><a href="/title">Title</th>
        <th>Message</th>
        <th>Image</th>

    </tr>
    {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td><a href="/question/{{ question['id'] }} ">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td><img src="question.image"</td>

        </tr>
    {% endfor %}

</table>
<br>
<a href="/add-question">
    <button type="submit">New Question</button>
</a>
<h4 align="right">Pairing programming since 2019</h4>
</body>
</html>