<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T i d d er</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body bgcolor="#f0ffff">
<p align="left"><a href="https://www.teddir.com">
    <img border="0" alt="teddir" src="/static/on_off_logo.png" width="150" height="80">
</a></p>
<h1 align="left">T i d d e R</h1>



<form action='/search' method="GET">
    <label id = "search"></label>
    <input type="text" name="search_phrase">
    <button type="submit" >Search</button>
</form>






<form action="{{ url_for('sort_questions',sort=sort) }}" method="post" id="sort">
    <SELECT class="form-control" id="sort" name="sort">
        <OPTION id="sub_asc" name="sub_asc" Value="sub_asc">Date Ascending-Order</OPTION>
        <OPTION id="sub_desc" name='sub_desc' Value="sub_desc">Date Descending-Order</OPTION>
        <OPTION id="view_asc" name="view_asc" Value="view_asc">View Ascending-Order</OPTION>
        <OPTION id="view_desc" name="view_desc" Value="view_desc">View Descending-Order</OPTION>
        <OPTION id="vote_asc" name="vote_asc" Value="vote_asc">Vote Ascending-Order</OPTION>
        <OPTION id="vote_desc" name="vote_desc" Value="vote_desc">Vote Descending-Order</OPTION>
    </SELECT>
    <button name=submit type="submit" value="submit">Sort</button>
</form>
<br>
<form action="{{ url_for('first_five_question_by_date') }}" method="post" id="show">
    <select class="form-control" name="show" id="show">
        <OPTION id="show_all" name="show_all" value="show_all">Show All Questions</OPTION>
        <OPTION name="show_latest" value="show_latest">Show 5 latest</OPTION>
    </select>
    <button name="submit" type="submit" value="submit">Submit</button>
</form>

<table align="center">
    <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>

    </tr>
    {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td><a href="/question/{{ question['id'] }} " methods="get">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td><img src="{{ question.image }}" alt="no file" width="150" height="150"></td>

        </tr>
    {% endfor %}

</table>
<br>
<a href="/add-question">
    <button type="submit">New Question</button>
</a>
<h4 align="right">Pairing programming since 2019</h4>
</body>
</html>