<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T i d d er</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body bgcolor="#f0ffff">
<h1 align="left">T i d d e R</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td><a href="/question/{{ question['id'] }} ">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td><img src="question.image"</td>

        </tr>
    {% endfor %}

</table>
<br>
<a href="/add-question">
    <button type="submit">New Question</button>
</a>

</body>
</html>