<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This was really hard to make</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='format_question_html.css') }}">
</head>
<body bgcolor="#f0ffff">
    <h1>{{ question_row.title }}</h1>
    <h2>{{ question_row.message }}</h2>
    <br>
<table>
    <tr>
        <td>id</td>
        <td>{{ question_row.id }}</td>
    </tr>
    <tr>
        <td>submission time</td>
        <td>{{ question_row.submission_time }}</td>
    </tr>
    <tr>
        <td>vote</td>
        <td>{{ question_row.vote_number }}</td>
    </tr>
    <tr>
        <td>image</td>
        <td>{{ question_row.image }}</td>
    </tr>
    <tr>
        <td>
                <a href="/question/{{ question_row.id }}/edit">
    <h3 align="left"><button  type="submit">Edit</button></h3>
        </a>
        </td>
    </tr>
</table>

<form action="/question/{{ question_row.id }}" method="delete">
    <button type="submit">Delete Question</button>
</form>

<table>
    {% for answer in answer_row %}
        <tr>
            <td>Comment<br>{{ answer.message }}</td>
        <tr>
            <td>Submitted:{{ answer.submission_time }}</td>
            <td>Vote{{ answer.cote_number }}</td>
        </tr>
        <tr>
{#            <td>{{ answer.image }}</td>#}
        </tr>
            <br>

    {% endfor %}
</table>



<form action="/question/{{ question_row.id }}" method="post">
   <p><label for="user_answer">Your Answer::</label><br>
       <textarea id="user_answer" name="answer_message" rows="8" cols="30" minlength="10"></textarea></p>
 <button type="submit">Answer</button>

</form>




</body>
</html>