{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
<h1>Registration</h1>

<form action="{{ form_url }}"
      method="post">
    <div class="registration">
        <input type="hidden" name="creation_time" >
        <input type="hidden" name="status" value="user">
        <p>
            <label for="username">Username : </label><br>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="hash">Password : </label><br>
            <input name="hash" id="hash" cols="80" rows="8">
        </p>
        <p>
            <label for="email">email : </label><br>
            <input type="text" name="email" id="email">
        </p>
    </div>
    <p>
        <a href="{{ url_for('add_user') }}">
            <h3>
                <button type="submit">Register</button>
            </h3>
        </a>
</form>

{% endblock %}