<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T i d d er</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body bgcolor="#f0ffff">
<h1 align="left">T i d d e R</h1>
<table>
    <tr>
        <th>Id</th>
        <th><a href="/sort/submission_time">Submission time</a></th>
        <th><a href="/sort/view_number"> View number</a></th>
        <th><a href="/sort/vote_number"> Vote number</a></th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>

    </tr>
    {% for row in sorted_data%}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.submission_time }}</td>
            <td>{{ row.view_number }}</td>
            <td>{{ row.vote_number }}</td>
            <td><a href="/question/{{ row['id'] }} ">{{ row.title }}</a></td>
            <td>{{ row.message }}</td>
            <td><img src="question.image"</td>

        </tr>
    {% endfor %}

</table>
<br>
<a href="/add-question">
    <button type="submit">New Question</button>
</a>

</body>
</html>